
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  background: #FFF7E6;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 60%;
}

.hero-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;

  /*remove this after photo is imported in*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex-col;
}

.experience {
  width: 50%;
  height: fit-content;
  border: 2px solid black;
}

.projects {
  width: 50%;
  height: fit-content;
  border: 2px solid purple;
}

.contact {
  height: fit-content;
  border: 2px solid red;
}

.leadership {
  height: fit-content;
  border: 2px solid green;
}

.work {
  display: flex-col;
  gap: 40px;
}

.work-sections {
  display: flex;
  gap: 40px;
}
























